Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
Flask-Mail==0.10.0
Flask-CORS==6.0.2
SQLAlchemy==2.0.45
Werkzeug==3.1.4
gunicorn==23.0.0
python-dotenv==1.1.0
WTForms==3.2.1
psycopg2-binary==2.9.9
